* {
    margin: 0;
    padding: 0;
}
.w-full {
    width: 100%;
}
.h-full{
    height: 100vh;
}
.w-0 {
    width: 0px;
}
.w-18{
    width: 18rem;
}
.ml-0{
    margin-left: 0px;
}
.ml-18{
    margin-left: 18rem;
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
}
.d-none {
    display: none;
}
.flex {
    display: flex;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.computeWidthMargin {
    width: calc(100% - 18rem);
}
.listTitle {
    margin: 0; 
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    display: block;
    color: rgba(0, 0, 0, 0.84);
    text-align: center;
    padding: 15px;
}